<nav class="climb_nav">
    <ul class="container text-center">
        <li class="col-xs-3"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li><!--
     --><li class="col-xs-3"><a href="/newClimb"><i class="glyphicon glyphicon-plus"></i></a></li><!--
     -->
     <!-- <li class="col-xs-3"><a href="#"><i class="glyphicon glyphicon-star"></i></a></li> -->
     <!---->
     <li class="col-xs-3 filter_btn"><span><i class="glyphicon glyphicon-filter"></i></span></li>
     <li class="col-xs-3"><a href="/profile"><i class="glyphicon glyphicon-user"></i></a></li>
    </ul>
<form id="filter_slider" class="container text-center">
    <div class="form-group well">
    <label for="Style">Style:</label>
    <br>
      <input name="power" type="checkbox">Power
      <input name="tech" type="checkbox">Tech
      <input name="crimp" type="checkbox">Crimp
      <br>
      <input name="oneMover" type="checkbox">One-Mover
      <input name="enduro" type="checkbox">Enduro
    </div>
    <div class="form-group well">
    <label>Set By:</label>
    <select id="setBy" class="form-control">
      <option value="All">All</option>
      <% var unique = {};
        var uniqueUsernames = [];
        climbs.forEach(climb => {
          if (!unique[climb.user.username]) {
            uniqueUsernames.push(climb.user.username);
            unique[climb.user.username] = true;
          }
        });%>
      <%uniqueUsernames.forEach(username =>{%>
        <option value="<%=username%>"><%=username%></option>
      <%});%>
    </select>
    </div>

    <div class="form-group well">
    <label>Select Grade Range:</label>
    <div>
      <span class="colorSpan red"></span>
      <span class="colorSpan blue"></span>
      <span class="colorSpan orange"></span>
      <span class="colorSpan purple"></span>
      <span class="colorSpan black"></span>
    </div>
    </div>

    <div id=slider-step></div>
    <span id="slider-step-value-lower"></span>
    <span id="slider-step-value-upper"></span>

    <a id="reset" class="btn btn-primary col-xs-6">Reset</a>
    <button id="filter" class="btn btn-primary col-xs-6">Filter</button>
</div>
</form>
</nav>
