<div id="land">

  <nav class="land_nav">
    <ul class ="nav container text-center">
      <li class=""><a href="/climbs">Climbs</a></li>
      <li class=""><a href="/newClimb">Add New</a></li>
      <li class=""><a href="/about.html">About</a></li>
      <!-- <li class=""><a href="/community">Community</a></li> -->
      <!-- <li class=""><a href="/profile">Profile</a></li> -->
      <% if(!currentUser){%>
       <li class=""><a href="/auth/login">Log In</a></li>
       <li class=""><a href="/auth/signup">Sign Up</a></li>
      <%} else {%>
        <li class=""><a href="/auth/logout">Logout, <%=currentUser.username%></a></li>
      <%}%>
    </ul>
  </nav>
</div>
