body {
    font-family: 'Old Standard TT', serif;
    background-position: left;
    text-transform: uppercase;
}

.wrapper {
    height: 100%;
}

#sbpLogo {
    width: 85px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    float: right;
}

.header {
    background-image: url('/img/wallpaper.jpg');
    background-size: cover;
    width: 100%;
}

.header span {
    font-size: 2.6em;
    position: relative;
    top: 33px;
    float: left;
    color: #eee;
}

.land_nav li {
    font-size: 2.3em;
    border-radius: 9px;
    padding: 20px 0;
    margin: 10px;
    background: rgba(10, 10, 10, .4);
}

a {
    /*color: rgb(200, 200, 200);*/
    color: rgb(65, 65, 65);
    text-decoration: none !important;
}

p {
    margin-bottom: 0px !important;
}

.nav.container {
    padding-right: 0 !important;
}

.nav li.well {
    padding: 10px !important;
}

#banner {
    width: 100%;
}

.climb_nav {
    margin-bottom: 0px;
    background: #eee;
    padding: 9px 0 0 0;
}

ul {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0;
    background: #eee;
    color: rgb(65, 65, 65);
    height: 30px;
    width: 100%;
}

footer div {
    padding: 5px 7px;
}

footer span {
    float: right;
}

.climb_nav ul {
    margin-bottom: 0;
}

.climb_nav ul li {
    display: inline-block;
    font-size: 2em;
}

.show {
    margin-top: 10px
}

.show_nav {
    border-top: 1px solid grey;
    padding: 6px 0 1px 0;
    margin-bottom: 0;
}

.show_nav a {
    color: #eee;
}

.climb_img {
    width: 100%;
    margin-top: -1px;
    margin-bottom: 20px;
}

.climb_info {
    color: #eee;
    font-size: 1.6em;
    padding-top: 5px;
}

main.profile {
    margin-top: 20px;
}

.orange {
    background-color: #dea939;
}

.blue {
    background-color: #1d6b92;
}

.purple {
    background-color: #683080;
}

.black {
    background-color: black;
}

.red {
    background-color: #ba254e;
}


/*----------------Forms--------------*/

input[name="username"] {
    border-radius: 5px 5px 0 0;
}

input[name="password"] {
    border-radius: 0 0 5px 5px;
}

input[name="email"] {
    border-radius: 0;
}

.or {
    text-align: center
}


/*------------------------------------*/

.btn {
    text-transform: uppercase;
}

.btn-danger {
    margin-top: 50px;
}

.btn-primary {
    background: #1d6b92 !important;
    border: none !important;
}

.form_well {
    border: none;
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

.users_climbs.well {
    position: relative;
    top: -2px;
    margin-bottom: 0;
    display: none;
    border-radius: 0;
}

.logout {
    margin-top: 10px !important;
}

.username {
    margin-top: 0;
    margin-bottom: 30px;
}

#filter_slider {
    position: absolute;
    right: 0;
    top: 153px;
    height: 500px;
    width: 100%;
    background: #eee;
    display: none;
    padding-top: 30px
}

.colorSpan {
    display: inline-block;
    width: 17%;
    height: 20px;
    margin-right: -4px;
}

.colorSpan:first-child {
    border-radius: 5px 0 0 5px;
}

.colorSpan:last-child {
    border-radius: 0 5px 5px 0;
}
